[submodule "ft_gemm/third_party/cutlass"]
	path = ft_gemm/third_party/cutlass
	url = git@github.com:nvidia/cutlass
[submodule "inf_flash_attn/third_party/cutlass"]
	path = inf_flash_attn/third_party/cutlass
	url = git@github.com:nvidia/cutlass
