[submodule "ft_gemm/third_party/cutlass"]
	path = dskernels/ft_gemm/third_party/cutlass
	url = https://github.com/NVIDIA/cutlass.git
[submodule "inf_flash_attn/third_party/cutlass"]
	path = dskernels/inf_flash_attn/third_party/cutlass
	url = https://github.com/NVIDIA/cutlass.git
